# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.next/
.expo/
web-build/
firebase/functions/lib/


# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Testing
coverage/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# TypeScript
*.tsbuildinfo

# Misc
.turbo
.vercel
